<div class="center jumbotron">
  <h1 id="font1">ToDoList</h1>
  <h2><a class="c777777" href="mailto:zl347@drexel.edu">Zhizhi Liu</a> & <a class="c777777" href="mailto:yw462@drexel.edu">Yuchen Wang</a></h2>
</div>